# http://www.shanaproject.com/
/node_modules


.idea

unmusic
# github ignore
/resource/test
/resource/api
/resource/demo
/resource/upload
/resource/static/dist
/be/config/prod.js
/fe/src/config/prod.js
/bin/scp.dev.sh
webpack-assets.json

